/* Webkit & Opera */
::-webkit-scrollbar {
  width: 10px; /* 滚动条宽度 */
}

::-webkit-scrollbar-thumb {
  background-color: #ddd; /* 滚动条颜色 */
  border-radius: 5px; /* 圆角 */
}

html{
  background-color: aliceblue;
  overflow-y: auto;
}
body{
  padding: 24px;
}
pre{background-color: transparent;}
.outwrap{
  height: calc( 100vh - 24px );
  background-color: #f5f7fb;
}
.usage{margin-top:8px;color:#767676;font-size:14px;margin-bottom: 0;text-align: right;}
.reanswerBtn{display: inline-block;padding: 0 10px;background-color: #8ed420;color: #444;border-radius: 2px;margin-left: 3px;cursor: pointer;}
@mixin multi-ellipsis($line: 1) {
  @if $line <= 0 {
      $line: 1;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
.ellipsis-1 {
  @include multi-ellipsis(1);
}

.ellipsis-2 {
  @include multi-ellipsis(2);
}
@media screen and (max-width:800px) {
  body{
    padding: 0;
  }
}